
  @import "../node_modules/bootstrap/scss/_functions";
  @import "../node_modules/bootstrap/scss/_variables";
  @import "../node_modules/bootstrap/scss/_mixins";

$main-color: #8fbdec !important;

$theme-colors: (
    "secondary": #bfc0bf,
    "danger": #ff4136
  );
  $body-bg: #365063;

  $btn-font-size: 1.8rem;
  //$border-color: $black;

  .btn-secondary {
    border-color: black !important;
    background-color: $main-color;
    color: black;
  }  

  .btn-secondary:hover{
    background-color:   #58a2eb !important;
  }

  .btn-outline-secondary {
    color: $main-color;
    border-color: #bfc0bf;
}

 
  .table {
    color: #8fbdec !important;
}


  
  @import "../node_modules/bootstrap/scss/bootstrap";

